/cn
/codegen
/codegen.properties
/dbconfig.properties
/ehcache
/email.properties
/i18n
/jeeweb.properties
/log4j.properties
/mapper
/mappings
/mybatis-config.xml
/shiro.properties
/sms.properties
/spring-config-cache.xml
/spring-config-extend.xml
/spring-config-mybatis.xml
/spring-config-shiro.xml
/spring-config-task.xml
/spring-config.xml
/spring-mvc-shiro.xml
/spring-mvc.xml
/template
/upload.properties
/xml
