<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jeeweb.modules.tbs.mapper.TbAuthContentMapper" >

  <sql id="Base_Column_List" >
    t.as_id,
    t.channel_id,
    t.service_id,
    t.scontent_id
  </sql>
  
</mapper>