<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jeeweb.modules.tbs.mapper.TbPayOrderMapper" >

  <sql id="Base_Column_List" >
    t.ORDER_STATE,
    t.WAY_DM,
    t.ORDER_DATE,
    t.ODER_AMOUNT,
    t.PRODUCT_DM,
    t.ORDER_DM,
    t.ID,
    t.REMARKS,
    t.UPDATE_DATE,
    t.UPDATE_NAME,
    t.CREATE_DATE,
    t.CREATE_NAME
  </sql>
  
</mapper>